<div class="uk-padding">
  <p><strong>Code:</strong> {{order?.code}}</p>
  <p><strong>Type:</strong> {{order?.orderType?.name}}</p>
  <p><strong>Status:</strong> {{order?.orderStatus?.name}}</p>
  <p><strong>Priority:</strong> {{order?.orderPriority?.name}}</p>
  <p><strong>Customer Name:</strong> {{order?.customer?.name}}</p>
  <p><strong>Phone:</strong> {{order?.customer?.customerPhoneBook[0].phone}}</p>
</div>
