<!--<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>-->

<h3 class="page-title">Call Logs</h3>

<div class="container uk-animation-slide-top-small">
  <div class="uk-card uk-card-default">
    <div class="col-md-offset-1">
      <h4 class="sub-title">List of Logs</h4>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <ngx-datatable class="material expandable" [rows]="logsHistory" [columnMode]="'force'" [columns]="[]"
                       [headerHeight]="50"
                       [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="15"
                       [selected]="[]">
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false" [headerCheckboxable]="false"
                                [checkboxable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='60' prop="callStatus.name" name="Status"></ngx-datatable-column>

          <ngx-datatable-column [width]='50' prop="createdDate" name="Date"></ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="customerServiceName"
                                name="Customer Service Agent"></ngx-datatable-column>

          <ngx-datatable-column [width]='90' prop="customerServiceComment"
                                name="Comment">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <p>{{row?.customerServiceComment.slice(0,20)}}... <a style="font-size: 0.9em"
                                                                   (click)="openCommentsDetails(row)">See more</a></p>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
    <div class="row uk-margin-top">
      <div class="col-md-offset-1 col-md-11">
        <button class="btn btn-dark" (click)="backClicked()">Back to Calls</button>
      </div>
    </div>
  </div>
</div>



