<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">View All Estimations</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>


<div class="container">

  <app-search [hideFromTo]="false" (searchCanceled)="getAllEstimations()" [hidden]="toggleLoading"
              (searchValue)="filterEstimations($event)"
              [placholder]="'Please type customer name or phone number...'"></app-search>

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages [(value)]="bigMessage"></p-messages>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <h4 class="sub-title">List of Estimations</h4>
      </div>
      <div class="col-md-2 uk-text-right">
        <button class="btn btn-dark" (click)="exportCsv()">Export</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">

        <app-all-estimations-table [estimations]="estimations.reverse()"></app-all-estimations-table>

      </div>
    </div>
  </div>

</div>
