


<p-growl [(value)]="msg"></p-growl>
<h3 class="page-title" *ngIf="type != 'contract'">Edit Estimation</h3>
<h3 class="page-title" *ngIf="type == 'contract'">View Estimation</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="container uk-animation-slide-top-small" *ngIf="!toggleLoading">

  <app-search *ngIf="type != 'contract'" [placholder]="'Please, Type material/service code...'"
              (searchValue)="requestCode($event)"></app-search>

  <div class="uk-card uk-card-default">
    <div class="col-md-offset-1">
      <h4 class="sub-title">List of Items/services</h4>
    </div>

    <app-estimation-table (deletedId)="deleteItem($event)" [editMode]="editToggle" [id]="estimationDetails?.id"
                          [callId]="estimationDetails.call.id" [EstimationRefNumber]="estimationDetails.refNumber"
                          [type]="type"
                          [items]="estimationDetails?.lstEstimationItems"></app-estimation-table>
  </div>
</div>
