<div class="row BackStat">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-12 uk-card uk-card-default loginForm">
        <h2>Welcome, <span class="SmallTxt">{{currentUser.userName}}</span></h2>
        <!--<a class="LogoutBtn bluetxt" [routerLink]="['/login']">Logout</a>-->
        <hr/>
        <!--<p class="SmallTxt">To add or edit Customer Details please Click </p>-->

      </div>
    </div>

  </div>
</div>
