/* line 3, order-card.component.scss */
.order-card {
  position: relative;
  width: 90%;
  margin: 2%;
  padding: 5px;
  display: inline-block;
  transition: 0.5s all;
  cursor: grab;
}
/* line 11, order-card.component.scss */
.order-card .name {
  margin-top: 25px;
}
/* line 14, order-card.component.scss */
.order-card h4 {
  text-align: left;
  margin: 4px auto;
  font-size: 1em;
}
/* line 19, order-card.component.scss */
.order-card .order-number {
  position: absolute;
  top: 5px;
  left: 2%;
  margin: 0;
  color: #3ab7fb;
}
/* line 26, order-card.component.scss */
.order-card .close-btn {
  position: absolute;
  top: 3px;
  right: 2%;
  border: none;
  font-size: 1.5em;
  margin: 0;
  transition: 0.5s all;
}
/* line 34, order-card.component.scss */
.order-card .close-btn:hover {
  color: #02466b;
  transition: 0.5s all;
}
/* line 39, order-card.component.scss */
.order-card .more-button {
  background-color: transparent;
  border: none;
  color: #3ab7fb;
  display: block;
  margin: 0 auto;
}
/* line 46, order-card.component.scss */
.order-card .button-group {
  margin-top: 25px;
}
/* line 49, order-card.component.scss */
.order-card .button-group button {
  box-sizing: border-box;
  height: 25px;
  width: 30px;
  margin: 3px auto;
  transition: 0.5s all;
  border: none;
}
/* line 56, order-card.component.scss */
.order-card .button-group button:hover {
  border: none;
  transition: 0.5s all;
  background-color: #02466b;
}
