<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Comment</h4>
</div>
<div class="modal-body">
  <p>
    {{data?.customerServiceComment}}
  </p>
</div>
<div class="modal-footer uk-text-right">
  <button class="btn btn-default" (click)="activeModal.dismiss()">Close</button>
</div>

