/* You can add global styles to this file, and also import other style files */
@import "assets/stylesheets/color-theme";

//.content {
//  min-height: calc(100vh - 70px);
//}
//.footer {
//  height: 50px;
//}

html body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  margin: 0;
  .loading-spinner {
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 45%;
    .ui-progress-spinner {
      margin-top: 75px;
      //width: 15%;
      //height: 15%;
      .ui-progress-spinner-svg {
        width: 100%;
      }
    }
  }
  .wrapper {
    min-height: 100%;
    //border: 1px solid black;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */

    margin-bottom: -25px;
  }
  .footer {
    height: 50px;
    //border: 1px solid black;

  }
  .push {
    height: 50px;
    //border: 3px solid red;

  }

  em {
    color: red;
  }

  .uk-card {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid $borderColor;
  }

  .accordion-header {
  }

  .accordion-header li {
    background-color: rgb(240, 240, 240);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid rgb(240, 240, 240);
    transition: 0.5s all;
    box-sizing: border-box;
  }

  .accordion-header li:hover {
    border: 1px solid #02466b;
    transition: 0.5s all;
  }

  .accordion-header li h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .uk-card.uk-card-default {
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15)
  }
  .page-container {
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
  }
  .page-title {
    font-weight: bold;
    text-transform: uppercase;
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
    width: 100%;
  }
  .sub-title {
    text-transform: uppercase;
    color: $mainColor;
    font-weight: bold;
  }

  .ui-widget-overlay.ui-sidebar-mask {
    background-color: rgba(0, 0, 0, 0);
  }

  .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    width: 100%;
  }

  /*primeng drop down button*/
  /****************************/
  .ui-buttonset .ui-button {
    margin-right: 2px;
    height: 35px;
    //border-color: $mainColor;
    //background-color: $mainColor;
  }
  /******************************/
  button {
    text-transform: capitalize;
  }
  .button {
    font-size: 1.2em;
    height: 50px;
    box-sizing: border-box;
    display: inline;
    //margin-top: 35px;
    width: 100%;
    transition: 0.5s all;
  }
  .btn-dark {
    text-transform: capitalize;
    color: white;
    background-color: $mainColor;
    border: 2px solid $mainColor;
    width: 100%;
    &:hover {
      color: white;
      border: 2px solid lightgray;
    }
    &:focus {
      color: white;
      border: 2px solid lightgray;
    }
  }
  .btn-light {
    text-transform: capitalize;
    width: 100%;
    background-color: $secondaryColor;
    color: white;
    border: 2px solid $secondaryColor;
    transition: 0.5s all;
    &:hover {
      color: white;
      border: 2px solid lightgray;
      transition: 0.5s all;
    }
    &:focus {
      color: white;
    }
  }
  .btn-outlined {
    text-transform: capitalize;
    border: 1px solid $secondaryColor;
    background-color: rgba(0, 0, 0, 0);
    color: $secondaryColor;
  }
  h1, h2, h3, h4, h5 {
    color: $mainColor;
  }
  .modal-dialog {
    position: relative;
  }
  .ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: center;
    //font-weight: bold;
    //color: black;
  }
  .datatable-body-cell-label {
    text-align: center;
  }

  .modal-content {
    position: absolute;
    width: 100%;
    //top: 50px;
  }
  tr {
    td {
      text-align: center;
    }
  }
}

.app-spinner {
  position: absolute !important;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

.ngx-datatable.material {
  box-shadow: none;
  border: 1px solid lightgray;
}

ngb-modal-window.modal.fade.show {
  background-color: rgba(0, 0, 0, 0.5);
}

textarea {
  resize: vertical;
  overflow-x: hidden;
}

.btn-primary {
  background-color: #02466b;
  transition: 0.5s all;
}

.btn-primary:hover {
  border: 1px solid white;
  transition: 0.5s all;
}

.btn {
  transition: 0.5s all;
  border-radius: 2px;
}

.form-control {
  border-radius: 2px;
}

.btn:hover {
  transition: 0.5s all;
}

/*hide arrows in type number input*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/**********************/
/*Tables global styles*/
/**********************/

table {
  background-color: rgba(250, 250, 250, 0.8);
  color: black;
  margin: 0 auto;
}

/* line 6, calls-history.scss */
table tr {
  transition: 0.5s all;
}

/* line 8, calls-history.scss */
table tr td, table tr th {
  border: 1px solid grey;
}

/* line 12, calls-history.scss */
table tr .action-btn-cell button {
  display: block;
  margin: 5px auto;
}

/* line 20, calls-history.scss */
table tr:hover {
  background-color: #fafafa;
  transition: 0.5s all;
}

/* line 26, calls-history.scss */
table thead tr:first-child {
  cursor: default;
  background-color: lightgrey;
}

/**********************/
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

.bluetxt {
  color: rgba(18, 120, 255, 0.91);
}

.mpt-0 {
  margin-top: 0px;
  padding-top: 0px;
}

.mtb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

:host /deep/ datatable-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

:host /deep/ datatable-body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

:host /deep/ datatable-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #E0E0E0;
}

:host /deep/ .datatable-header-cell, :host /deep/ .datatable-header-inner {
  height: 100%;
}

:host /deep/ .datatable-header-cell-label {
  font-size: 14px;
}

:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #cccccc !important;
  color: #FFF;
}

:host /deep/ .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  color: black;
  display: block;

}

@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: block;
  color: black;
  animation: showNav 300ms ease-in-out both;
}

html body button, html body button:focus {
  outline: none !important;
}

.datatable-row-detail {
  padding: 0px !important;
}

.ErrorLable {
  display: block;
  margin-left: 184px;
  margin-top: 5px;
  color: #e18887;
}

.has-error {
  border: solid 2px #fa1414 !important;
}

.noOverflow {
  overflow: hidden !important;
}

.temp-sibiling ~ .StaticBack {
  width: 98%;
}
